@(message: String)

@main("Welcome to Betterrev", true, false, false, false, false) {

    
    <h1>@Messages("index.welcome")</h1>
    <p>@Messages("index.briefDescription")</p>
    <p><a href="/help/"><img src="@routes.Assets.at("images/Icon_Arrow_60x60px.png")" alt='@Messages("index.newHere.altMessage")'/>@Messages("index.newHere")</a></p>
    
    <h2>@Messages("index.workflow")</h2>
    <ol>
        <li>@Messages("index.list.contributionDescription")</li>
        <li>@Messages("index.list.findSponsor")</li>
        <li>@Messages("index.list.acceptContribution")</li>
    </ol>

    <h2>@Messages("index.showContributions")</h2>
    <p><a href="/contributions/">@Messages("index.showListContributions")</a></p>

}
